body{ background-color: rgb(246, 246, 246);
}
body{ text-align: center;

}


   

h1{ text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
nav{background-image: url("images/Refeitorio.png");
    background-position-y:-12px ;
    height: 260px;
    position: initial;
}


nav form { position: static;
          top: 40px;
          left: 40px; 
          bottom: 5px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

div.login{ margin-left: 10px;

}


section form { position: relative;
    left: 40px; 
    bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 10px;
}    

div.botao_01{

   margin-top: -10px;
   margin-bottom: 20px;
   margin-left: -300px;
}

div.botao_02{
    margin-bottom: 20px;
    margin-left: -300px;
    margin-top: 10px;
}

div.botao_03{
    margin-left: 20px ;
  
    margin-top: -80px;
   

}

div.botao_04{
    margin-left: 20px ;
    
    margin-top: 18px;
    
}


div.botao_05{text-align: center;
   
    margin-top: -58px;
    margin-left: 300px;


}

div.botao_enviar{
    
    margin: 75px 45px 35px 40px;
   display: inline-block;
   padding: 0.5em 1em;
 
   cursor: pointer;
   font: inherit;
  text-decoration: none;
  background: #ECB200;
  color:rgba(0, 0, 0, 0.993) ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border: 0px;
border-radius: 10px;
box-shadow: 1.5px 1.5px 1.5px 1.5px #080600;
text-shadow: 8px 9px 9px 9px black;
}

.botao_enviar:active { 
                      box-shadow: 0 0 0 0 ; inset: 3px 3px 3px 3px #080600;
                      transform: translate(3px, 4px);

}

section p{
            margin-top: 45px;

}



.final{ background-color:#ECB200;
    height: 40px;


}
       

